
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
    </head>
    <body>
        <form action="/changePassword" method="post">
            <div>
                <span>Current Password</span>
                <input type="text" placeholder="Current Password" name="currentPassword">
            </div>
            <div>
                <span>New Password</span>
                <input type="text" placeholder="New Password" name="newPassword">
            </div>
            <div>
                <span>Confirm New Password</span>
                <input type="text" placeholder="Confirm New Password" name="confirmNewPassword">
            </div>
            <button type="submit">Change Password</button>
        </form>
        <a href="/">home</a>
        <a href="logout">logout</a>
    </body>
</html>