
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/bootstrap">
    </head>
    <body>
        <form action="/login" method="post" autocomplete="off"> <!--autocomplete off for testing-->
            <div class="input-group mb-3">
                <span class="input-group-text">Username</span>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input type="text" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="/">home</a>
        <a href="logout">logout</a>
    </body>
</html>