
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
    </head>
    <body>
        <form action="/signup" method="post">
            <div>
                <span>Username</span>
                <input type="text" placeholder="Username" name="username">
            </div>
            <div>
                <span>Password</span>
                <input type="text" placeholder="Password" name="password">
            </div>
            <div>
                <span>Confirm Password</span>
                <input type="text" placeholder="Confirm Password" name="confirmPassword">
            </div>
            <button type="submit">Signup</button>
        </form>
        <a href="/">home</a>
        <a href="/login">Login</a>
    </body>
</html>